<div class="row" ng-controller="ListingsController" ng-init="find()">
  <div class="col-md-offset-1 col-md-10">
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div ng-show="success" class="text-success">
      <strong ng-bind="success"></strong>
    </div>

    <ui-gmap-google-map center="map.center" zoom="map.zoom">
      <ui-gmap-markers models="listings" coords="'coordinates'" idkey="'_id'" icon="'icon'">
        <ui-gmap-windows show="show">
                <div ng-non-bindable>
                  <h3>{{code}}: {{name}}</h3>
                  <p>{{address}}</p>
                </div>
            </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>